<!DOCTYPE html>
<html>
<head>
  <title>Find Students by Campus</title>
  <link rel="stylesheet" href="static/styles.css">
</head>
<body>
  <h1>Students by Campus</h1>

  <p>For campus <%= params['campus'] %>:</p>

  <ul>
    <% @campus_students.each do |student| %>
      <li><%= student['name'] %>, <%= student['age'] %></li>
    <% end %>
  </ul>
  

</body>
</html>