<!DOCTYPE html>
<html>
<head>
  <title>Create a New Student</title>
  <link rel="stylesheet" href="../styles.css">
  <link href="https://fonts.googleapis.com/css?family=Raleway:200,400,800" rel="stylesheet">
</head>
<body>

<section>
<h1>Create a New Student</h1>

  <p>Fill out the following form:</p>

  <form action="/students" method="POST">
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="campus" placeholder="Campus">
    <input type="text" name="age" placeholder="Age">
    <button type="submit">Save</button>
  </form>

</section>
</body>
</html>