



/*"Cascading" means that styles can fall (or cascade) from one style sheet to another, enabling multiple style sheets to be used on one HTML document.*/

/*http://css.maxdesign.com.au/selectutorial/advanced_cascade.htm*/

/*Pseudoselectors work for part of a content block, like the first line of the paragraph versus the entire paragraph.*/


