/*"Cascading" means that styles can fall (or cascade) from one sheet to another so that one HTML document can be styled by multiple sheets. The browser chooses "seniority" based on the order in which the sheets are linked in the HTML document.*/

section#contact-info {
  font-size: .8em;
}

section.job {
  background-color: #e9e5dc;
  border-radius: 15px;
  padding: 10px;
  margin-top: 10px;
}

ul.accomplishments {
  font-size: .8em;
}

/*To style an element only when it is nested inside another element, separate the selectors with a space. The nested selector comes second.*/

section section {
  color: #444444;
}

/*Pseudoselectors work for part of an element, like the first line of the paragraph versus the entire paragraph.*/

li::first-letter {
  font-weight: bold;
}
